<p>Data passed from User Details Teamplte to 
    Parent To Child Template Name is : {{name}}
    And {{name}} belongs to : {{city}}</p>
<table style="width: 100pt; border-collapse: collapse; margin : 20px auto">
    <tr>
        <th style="width: 100pt;">Selected User</th>
        <th style="width: 100pt;">City Name</th>
        <th style="width: 100pt;">User Array</th>
    </tr>
    <tr>
        <td style="width: 100pt;">{{name}}</td>
        <td style="width: 100pt;">{{city}}</td>
        <td style="width: 100pt;">{{user}}</td>
    </tr>

</table>
<style>
th, td {
    border: 1px solid #ccc;
    padding : 10px
}

th {
    border-color: #f5f5f5;
    text-align: left
}

</style> 

